.dropdown-content {
  z-index: 1000;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 4px;
    right: 3px;
    margin-right: -12px;
    border-top: 7px solid transparent;
    border-left: 10px solid whitesmoke;
    border-bottom: 7px solid transparent;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 20px;
  }
  .row {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100px;
    border-radius: 8px;
  }
}
